[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = git://github.com/opscode-cookbooks/yum.git
[submodule "cookbooks/windows"]
	path = cookbooks/windows
	url = git://github.com/opscode-cookbooks/windows.git
[submodule "cookbooks/runit"]
	path = cookbooks/runit
	url = git://github.com/opscode-cookbooks/runit.git
[submodule "cookbooks/ruby_build"]
	path = cookbooks/ruby_build
	url = https://github.com/fnichol/chef-ruby_build.git
[submodule "cookbooks/rbenv"]
	path = cookbooks/rbenv
	url = https://github.com/fnichol/chef-rbenv.git
[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = git://github.com/opscode-cookbooks/postgresql.git
[submodule "cookbooks/phantomjs"]
	path = cookbooks/phantomjs
	url = git://github.com/customink-webops/phantomjs.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = git://github.com/opscode-cookbooks/openssl.git
[submodule "cookbooks/ohai"]
	path = cookbooks/ohai
	url = git://github.com/opscode-cookbooks/ohai.git
[submodule "cookbooks/nginx"]
	path = cookbooks/nginx
	url = git://github.com/opscode-cookbooks/nginx.git
[submodule "cookbooks/nodejs"]
	path = cookbooks/nodejs
	url = git://github.com/mdxp/nodejs-cookbook.git
[submodule "cookbooks/jenkins"]
	path = cookbooks/jenkins
	url = git://github.com/opscode-cookbooks/jenkins.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = git://github.com/opscode-cookbooks/java
[submodule "cookbooks/iptables"]
	path = cookbooks/iptables
	url = git://github.com/opscode-cookbooks/iptables.git
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = git://github.com/opscode-cookbooks/git.git
[submodule "cookbooks/dmg"]
	path = cookbooks/dmg
	url = git://github.com/opscode-cookbooks/dmg.git
[submodule "cookbooks/chef_handler"]
	path = cookbooks/chef_handler
	url = git://github.com/opscode-cookbooks/chef_handler.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = git://github.com/opscode-cookbooks/apache2.git
