[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = git://github.com/opscode-cookbooks/yum.git
[submodule "cookbooks/windows"]
	path = cookbooks/windows
	url = git://github.com/opscode-cookbooks/windows.git
[submodule "cookbooks/runit"]
	path = cookbooks/runit
	url = git://github.com/opscode-cookbooks/runit.git
[submodule "cookbooks/ruby_build"]
	path = cookbooks/ruby_build
	url = https://github.com/fnichol/chef-ruby_build.git
[submodule "cookbooks/rbenv"]
	path = cookbooks/rbenv
	url = https://github.com/fnichol/chef-rbenv.git
[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = git://github.com/opscode-cookbooks/postgresql.git
